.nav-item {
    list-style-type: none;
}
.btn-primary {
  background-color: cornflowerblue !important;
  color: white !important;
}

.hours {
  list-style: none;
  
}

.sidenav {
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    top: auto;
    left: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(./imgs/texture.jpg)
  }

  .footer {
    padding-left: 120px;
    padding-top: 40px;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;   
  }
  
  .about {
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* p {
    text-align: center;
  } */

  footer {
    text-align: center;
    position;

    bottom: 0;
    width: 100%;
    height: 2.5rem;  
  }

  header {
    padding-left: 120px;
    position: fixed;
    z-index: 1;
    background-color:cornflowerblue;
    height: 40px;
    color: white;
    width: 100%;
  }

  body {
    background-color:lightgrey;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .shop-container{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-top: 40px;
  }

  .product{
    width: 25%;
    height: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    background-color:cornflowerblue;
}